@charset "UTF-8";
.header {
  background: url("../images/макет.png");
  height: 698px;
  z-index: -100;
}
.header_topBackground {
  background: rgba(255, 255, 255, 0.4);
  height: 90px;
}
.header_topPadding {
  padding-top: 15px;
}
.header_logo {
  font-size: 29px;
  font-family: Bringin;
}
.header_logo_moun {
  color: #56c7ff;
}
.header_logo_tain {
  color: #949494;
}
.header_nav {
  padding-right: 10px;
}
.header_nav_link {
  color: #949494;
  font-size: 12px;
  font-weight: bold;
  font-family: OpenSans;
  padding: 0.6rem;
}
.header_button {
  color: #56c7ff;
  font-size: 12px;
  font-weight: bold;
  font-family: raleway;
  border: 3px solid #56c7ff;
  padding: 12px 45px;
}

.header_body {
  font-size: 50px;
  Margin-top: 160px;
  height: 300px;
  border: 3px solid white;
}
.header_body_travel {
  color: white;
  font-family: Opensansbold;
  position: absolute;
  letter-spacing: 4px;
  box-sizing: border-box;
}

.Mountains {
  color: #56c7ff;
  font-family: Bringin;
  position: absolute;
  top: 28px;
  font-size: 66px;
  width: auto;
  box-sizing: border-box;
}

.Lorem {
  color: #dee0e3;
  font-size: 18px;
  margin-top: 110px;
  position: absolute;
  height: 40px;
  width: auto;
}

.header_body_Lorem p {
  margin-block-start: 0;
  margin-block-end: 0;
  width: auto;
}

.button_ordernow {
  position: absolute;
  margin-top: 200px;
  margin-left: 20px;
  padding: 19px 65px;
  font-size: 13px;
  font-family: RalewayBold;
  letter-spacing: 3px;
  background: rgba(86, 199, 255, 0.8);
  border: 1px solid #56c7ff;
}

.header_nav_link:hover {
  color: #949494;
  border-bottom: 2px solid #56c7ff;
}

.aboutus {
  height: 667px;
  background-color: #f5f4f4;
  width: auto;
}
.aboutus_body1 {
  height: 667px;
  background: url("../images/Vector.png") no-repeat bottom 110px left 100px;
}
.aboutus_body1_writeabout {
  font-family: Opensansbold;
  font-size: 20px;
  Padding-top: 258px;
  position: absolute;
}
.aboutus_body1_text {
  font-size: 14px;
  color: #949494;
  top: 299px;
  position: absolute;
  font-family: OpenSans;
}
.aboutus_body2 {
  z-index: 1;
  position: absolute;
  right: 110px;
  top: -43px;
}

.aboutus_body2 {
  position: relative;
}

.legs {
  position: absolute;
  z-index: 2;
  right: 300px;
  bottom: 10px;
}

.button_readmore {
  font-size: 12px;
  background-color: #56c7ff;
  border: 3px solid #56c7ff;
  padding: 10px 28px;
  font-family: Opensansbold;
  z-index: 100;
  position: relative;
  top: 161px;
}

.zigzag {
  margin-top: 207px;
}

.block_3 {
  height: 1065px;
}

.outjornal {
  height: 218px;
  background-color: white;
  font-size: 30px;
  font-family: Opensansbold;
  text-align: center;
  padding-top: 70px;
}
.outjornal_zigzag2 img {
  box-sizing: content-box;
  margin-bottom: 30px;
}

.lovetext {
  padding-top: 40px;
  text-align: center;
}
.lovetext_1 {
  color: #56c7ff;
  font-family: Opensansbold;
  font-size: 11px;
}
.lovetext_2 {
  font-family: Opensansbold;
  font-size: 16px;
}
.lovetext_4 {
  padding-top: 15px;
}

.loveimage1 {
  background: url("../images/ImageBackground1.png") no-repeat;
  position: relative;
}

.triangle1 {
  border-top: 10px solid transparent;
  border-right: 10px solid #f2faff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 50px;
  left: 370px;
}

.triangle2 {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2faff;
  position: absolute;
  left: 50px;
  top: 369px;
}

.triangle3 {
  border-style: solid;
  border-width: 12px 0 12px 8px;
  border-color: transparent transparent transparent #f2faff;
  position: absolute;
  top: 50px;
  left: 0;
}

.centerlove, .centerlove2, .centernature {
  height: 379px;
}

.loveimage2 {
  background: url("../images/Layer49.png") no-repeat;
  position: relative;
}

.nature_image {
  background: url("../images/9127271170_42c133847e_z.png") no-repeat;
}

.treetext, .watertext {
  padding-top: 49px;
  text-align: center;
  color: #108bb8;
  font-family: Opensansbold;
  font-size: 11px;
}
.treetext_1, .treetext_4, .watertext_1, .watertext_4 {
  font-family: Opensansbold;
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}
.treetext_1_line, .watertext_1_line {
  text-decoration: line-through;
}
.block_4 {
  height: 651px;
  background: url("../images/Layer10.png");
}

.go_zigzag {
  padding-top: 149px;
}

.wanna_go_1 {
  padding-top: 25px;
  font-family: Opensansbold;
  font-size: 15px;
}

.wanna_go_2 {
  color: #949494;
}

.form1, .form2 {
  border: white 1px solid;
  padding: 25px;
}

.borderform {
  height: 30px;
  margin: auto;
  border: 1px solid #cacaca;
}

.buttonblock4 {
  padding: 0 45px;
  background-color: #36aeea;
  border: 2px solid white;
  font-size: 16px;
  font-family: Opensansbold;
}

.Locktext {
  font-family: OpenSans;
  color: #36aeea;
  vertical-align: baseline;
}

.spruce {
  margin-top: 237px;
  position: relative;
}

.spruce_2 {
  position: absolute;
  top: -208px;
  left: 149px;
}

.block_51 {
  height: 737px;
}

.zigzagx {
  padding-top: 60px;
  margin: 0 auto;
  margin-left: 50px;
}

.zigzagx img {
  padding-left: 80px;
  width: auto;
}

.howwe {
  font-family: Opensansbold;
  font-size: 30px;
  padding-top: 20px;
}

.numbers {
  padding-top: 50px;
}

.numbers_1, .numbers_2, .numbers_3, .numbers_4 {
  height: 114px;
  position: relative;
}

.hex_round1, .hex_round2, .hex_round3, .hex_round4 {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #f0f3f6;
  border: #f0f3f6;
  margin-left: 34px;
}

.vertical1, .vertical2, .vertical3, .vertical4 {
  height: 70px;
  background-image: linear-gradient(99deg, #f5f4f4, #f5f4f4 90%, transparent 90%, transparent 100%);
  background-size: 30px 3px;
  border: none;
  position: absolute;
  width: 2px;
  z-index: 100;
  top: 46px;
  left: 142px;
}

.linegradient1, .linegradient2, .linegradient3 {
  height: 2px;
  background-image: linear-gradient(99deg, #f5f4f4, #f5f4f4 90%, transparent 90%, transparent 100%);
  background-size: 30px 3px;
  border: none;
  position: absolute;
  width: 242px;
  top: 22px;
  left: 165px;
}

.circle1, .circle2, .circle3, .circle4 {
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border: 2px solid #36aeea;
  color: #36aeea;
  font-family: Opensansbold;
  margin: 0 auto;
}

.lovetext_3, .treetext_2, .treetext_5, .watertext_2, .watertext_5 {
  font-family: OpenSans;
  font-size: 14px;
  color: #949494;
  text-align: center;
}

.lovetext_4, .treetext_3, .treetext_6, .watertext_3, .watertext_6 {
  font-family: "Times New Roman";
  font-size: 14px;
  font-style: oblique;
  text-align: center;
}

.header_button:hover, .button_ordernow:hover, .button_readmore:hover, .buttonblock4:hover {
  background-color: rgba(242, 250, 255, 0.5);
  box-shadow: inset 0 0 0 2px #56c7ff;
  border-color: #56c7ff;
}

@font-face {
  font-family: "Bringin";
  src: url(../font/Bringin.otf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans.ttf);
}
@font-face {
  font-family: "Opensansbold";
  src: url(../font/Opensansbold.ttf);
}
@font-face {
  font-family: "raleway";
  src: url(../font/raleway.ttf);
}
@font-face {
  font-family: "RalewayBold";
  src: url(../font/RalewayBold.ttf);
}

/*# sourceMappingURL=style.css.map */
