$grey: #bababa
$blue: #56c7ff
$wg: #f5f4f4
$db: #36aeea
.header
  background: url("../images/макет.jpg") no-repeat 50%
  height: 698px

  &_topBackground
    background: rgba(255,255,255,0.4)
    height: 90px
  &_topPadding
    padding-top: 15px
  &_logo
    font-size: 29px
    font-family: Bringin
    &_moun
     color: $blue
    &_tain
     color: $grey
  &_nav
    padding-right: 10px
    &_link
     color: $grey
     font-size: 12px
     font-weight: bold
     font-family: OpenSans
     padding: .6rem
  &_button
   color: $blue
   font-size: 12px
   font-weight: bold
   font-family: raleway
   border: 3px solid $blue
   padding: 12px 45px
.man
  position: relative
  top: -140px
  left: 400px
  &::after
   display: block
   content: ''
   position: absolute
   top: -148px
   left: 0
   height: 100%
   width: 528px
   border-bottom: solid 3px #fff

.header_body
  font-size: 50px
  Margin-top: 160px
  height: 300px
  border: 3px solid white
  &_travel
   color: white
   font-family: Opensansbold
   position: absolute
   letter-spacing: 4px
   box-sizing: border-box
.Mountains
 color: $blue
 font-family: Bringin
 position: absolute
 top: 28px
 font-size: 66px
 width: auto
 box-sizing: border-box
.Lorem
 color: #dee0e3
 font-size: 18px
 margin-top: 110px
 position: absolute
 height: 40px
 width: auto
.header_body_Lorem p
 margin-block-start: 0
 margin-block-end: 0
 width: auto
.button_ordernow
  position: absolute
  margin-top: 200px
  margin-left: 20px
  padding: 19px 65px
  font-size: 13px
  font-family: RalewayBold
  letter-spacing: 3px
  background: rgba(86, 199, 255, 0.8)
  border: 1px solid $blue

.header_button:hover, .button_ordernow:hover, .button_readmore:hover, .buttonblock4:hover, .sendbutton:hover
  @extend %message-shared_button
.header_nav_link:hover
  color: $grey
  border-bottom: 2px solid $blue
.aboutus
  height: 667px
  background-color: $wg
  width: auto
  &_body1
    height: 667px
    background: url("../images/Vector.png") no-repeat bottom 110px left 100px
  &_body1_writeabout
    font-family: Opensansbold
    font-size: 20px
    Padding-top: 258px
    position: absolute
  &_body1_text
   font-size: 14px
   color: $grey
   top: 299px
   position: absolute
   font-family: OpenSans
  &_body2
   z-index: 1
   position: absolute
   right: 110px
   top: -43px
.aboutus_body2
  position: relative
.legs
  position: absolute
  z-index: 2
  right: 300px
  bottom: 10px

.button_readmore
  font-size: 12px
  background-color: $blue
  border: 3px solid $blue
  padding: 10px 28px
  font-family: Opensansbold
  z-index: 100
  position: relative
  top: 161px
.zigzag
  margin-top: 207px
.block_3
  height: 1065px
.outjornal
  height: 218px
  background-color: white
  &_text_1
  font-size: 30px
  font-family: Opensansbold
  text-align: center
  &_text2
  padding-top: 70px
.outjornal_zigzag2 img
 box-sizing: content-box
 margin-bottom: 30px
.lovetext
  padding-top: 40px
  text-align: center
  &_1
   color: $blue
   font-family: Opensansbold
   font-size: 11px
  &_2
   font-family: Opensansbold
   font-size: 16px
  &_3
   @extend %shared-block
  &_4
   @extend %shared-block-1
   padding-top: 15px
.loveimage1
  background: url("../images/ImageBackground1.png") no-repeat
  position: relative
.triangle1
  border-top: 10px solid transparent
  border-right: 10px solid #f2faff
  border-bottom: 10px solid transparent
  position: absolute
  top: 50px
  left: 370px
.triangle2
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-bottom: 10px solid #f2faff
  position: absolute
  left: 50px
  top: 369px
.triangle3
  border-style: solid
  border-width: 12px 0 12px 8px
  border-color: transparent transparent transparent #f2faff
  position: absolute
  top: 50px
  left: 0
.centerlove, .centerlove2, .centernature
  height: 379px
.loveimage2
  background: url("../images/Layer49.png") no-repeat
  position: relative
.nature_image
 background: url("../images/9127271170_42c133847e_z.png") no-repeat
.treetext, .watertext
  padding-top: 49px
  text-align: center
  color: #108bb8
  font-family: Opensansbold
  font-size: 11px
  &_1, &_4
   font-family: Opensansbold
   font-size: 16px
   margin-top: 40px
   text-align: center
  &_1_line
    text-decoration: line-through
  &_2, &_5
   @extend %shared-block
  &_3, &_6
   @extend %shared-block-1
.block_4
  height: 651px
  background: url("../images/Layer10.png") no-repeat center

.go_zigzag
  padding-top: 149px
.wanna_go_1
  padding-top: 25px
  font-family: Opensansbold
  font-size: 15px
.wanna_go_2
  color: $grey
.form1, .form2
 border: white 1px solid
 padding: 25px
.borderform
 height: 30px
 margin: auto
 border: 1px solid #cacaca
.buttonblock4
 padding: 0 45px
 background-color: $db
 border: 2px solid white
 font-size: 16px
 font-family: Opensansbold
.Locktext
 font-family: OpenSans
 color: $db
 vertical-align: baseline
.spruce
 margin-top: 237px
 position: relative
.spruce_2
 position: absolute
 top: -208px
 left: 149px
.block_51
  height: 737px
.zigzagx
  padding-top: 60px
  margin: 0 auto
  margin-left: 50px
.zigzagx img
  padding-left: 80px
  width: auto
.howwe
  font-family: Opensansbold
  font-size: 30px
  padding-top: 20px
.numbers
  padding-top: 50px
.circle1, .circle2, .circle3, .circle4
  @extend %shared-сircle

.numbers_1, .numbers_2, .numbers_3, .numbers_4
  height: 114px
  position: relative
.linegradient1, .linegradient2, .linegradient3
  @extend %shared-linegradient

.vertical1, .vertical2, .vertical3, .vertical4
  @extend %shared-linegradientvertical

.hex_round1, .hex_round2, .hex_round3, .hex_round4
  border-radius: 50%
  width: 180px
  height: 180px
  background:  #f0f3f6
  border: #f0f3f6
  margin-left: 34px

.hexagon1, .hexagon2, .hexagon3, .hexagon4
  position: absolute
  left: 78px
  top: 27px

.hexagon1_icon img, .hexagon2_icon img, .hexagon3_icon img, .hexagon4_icon img
  position: absolute
  left: 123px
  top: 71px

.hexa_lorem
  font-family: robotobl
  font-size: 18px
  font-weight: bold
  margin-bottom: 0
  margin-top: 30px
  margin-left: 41px
.hexa_amet
  font-family: "Roboto Light"
  font-size: 16px
  color: $grey
  margin-left: 21px
  text-align: center
.go_zigzag2
  margin: 0 auto
  margin-top: 78px
.block_6
  background: url("../images/worldmap-dots.png") no-repeat 50% 10%
  height: 1196px
.block_6_tr
  height: 549px
  position: relative
.block_6_travel
  font-size: 32px
  font-family: OpenSansBold
  text-align: center
  margin-top: 36px

.block_6 img
  position: relative
  z-index: -100
  top: 170px
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.block_6_image1 img
  @extend %shared-block_6_images
  left: 110px

.block_6_image2 img
  @extend %shared-block_6_images
  left: 155px

.block_6_image3 img
  @extend %shared-block_6_images
  left: 105px

.block_6_image4 img
  @extend %shared-block_6_images
  left: 149px

.block_6_image5 img
  @extend %shared-block_6_images

.stars4
  top: 138px  !important
  left: 71px  !important
.stars5
  top: 138px !important
  left: 121px  !important
  &_1
   top: 138px !important
   left: 69px !important
  &_2
   top: 138px !important
   left: 117px !important

.stars3
  top: 138px !important
  left: 48px !important

.carpathian
  @extend %shared-block6_text
  left: 31px
.block6_l
  @extend %shared-block6_l
  left: 31px
.number3150
  @extend %shared-block6_numbers
  left: 31px
.number793
  @extend %shared-block6_numbers2
  left: 142px

.Alps
  @extend %shared-block6_text
  left: 74px
.block6_l2
  @extend %shared-block6_l
  left: 74px
.number3150_2
  @extend %shared-block6_numbers
  left: 74px
.number1893
  @extend %shared-block6_numbers2
  left: 176px

.Pyrenees
  @extend %shared-block6_text
  left: 25px
.block6_l3
  @extend %shared-block6_l
  left: 25px
.number3150_3
  @extend %shared-block6_numbers
  left: 25px
.number2593
  @extend %shared-block6_numbers2
  left: 120px
.Rocky
  @extend %shared-block6_text
  left: 74px
.block6_l4
  @extend %shared-block6_l
  left: 74px
.number3150_4
  @extend %shared-block6_numbers
  left: 74px
.number2123
  @extend %shared-block6_numbers2
  left: 176px

.Kavkaz
  @extend %shared-block6_text
.block6_l5
  @extend %shared-block6_l
.number3150_5
  @extend %shared-block6_numbers
  left: 25px
.number593
  @extend %shared-block6_numbers2
  left: 120px
.block_7
  height: 913px
.bl_7_zigzag img
 margin-left: 46%
 margin-top: 74px
.block_7_gallery
  font-size: 32px
  font-family: OpenSansBold
  text-align: center
  margin-top: 30px
.img2,.img4, .img6
  margin-top: 30px
.block_8
  height: 183px
  background-color: $wg

.slack, .adobe, .google, .nike, .facebook, .spotifi
  height: 183px
.slack2, .adobe2, .google2, .nike2, .facebook2, .spotifi2
  margin-top: 81px
.adobe
  margin-left: 35px
.facebook
  margin-left: 35px
.nike
  margin-left: 16px

.bl_9_zigzag img
  margin-left: 46%
  margin-top: 74px
.our_clientssay
  font-size: 30px
  font-family: OpenSansBold
  text-align: center
  margin-top: 30px
.block_9_1
  margin-top: 80px
.block_9_lorem
  line-height: 2
  color: $grey
.Pavliv
  height: 50px
.Pavliv1, .JohnS1
  color: $blue
  font-family: OpenSansBold
.Pavliv2, .JohnS2
  color: $blue
  font-family: Opensans
.block_9
  height: 1357px
  background: url("../images/bacground.png") 50% no-repeat

.bl_9
  height: 1286px
.block_9_2
  margin-top: 100px
.blur
  backdrop-filter: blur(30px)
  height: 500px
  border-radius: 2%
.sendbutton
  font-size: 12px
  font-family: OpenSansBold
  padding: 20px 238px
  letter-spacing: 3px
  background: rgba(86, 199, 255, 0.8)
  border: 1px solid $blue
  margin-left: 9px

.contacts
 font-family: OpenSansBold
 font-size: 30px
 letter-spacing: 3px
 color: $db
 text-align: center
 margin-top: 35px
 margin-bottom: 0rem
.signup
  font-family: OpenSans
  font-size: 12px
  text-align: center
  margin-bottom: 3rem

.block_9_form
 color: $wg
 height: 50px
 width: 519px
 margin: 0 auto
 &::webkit-input-placeholder
   color: #c0c0c0
 &::ms-input-placeholder
   color: #C0C0C0
 &::ms-input-placeholder
   color: #c0c0c0
 &::placeholder
   color: #c0c0c0
.block-9_footer
  font-family: OpenSans
  font-size: 18px
  color: #5c8592
  margin-top: 195px

.block-9_footer2
  margin-top: 190px
  font-family: robotobl
  font-size: 27px
  color: #7ecada
  font-weight: bold
  text-align: right

.block-9_vk
  margin-top: 190px

%shared-block6_numbers2
  position: absolute
  z-index: 2
  font-family: Opensans extrabold
  font-size: 26px
  top: 445px
  color: white

%shared-block6_numbers
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 18px
  top: 448px
  color: white
  text-decoration: line-through

%shared-block6_l
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 16px
  top: 308px
  color: white
%shared-block6_text
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 26px
  color: white
  top: 258px

%shared-block_6_images
  position: absolute
  z-index: 1
  top: 304px

%shared-linegradientvertical
  height: 70px
  background-image: linear-gradient(99deg, $wg, $wg 90%, transparent 90%, transparent 100%)
  background-size: 30px 3px
  border: none
  position: absolute
  width: 2px
  z-index: 100
  top: 46px
  left: 142px
%shared-linegradient
  height: 2px
  background-image: linear-gradient(99deg, $wg, $wg 90%, transparent 90%, transparent 100%)
  background-size: 30px 3px
  border: none
  position: absolute
  width: 242px
  top: 22px
  left: 165px

%shared-сircle
  background: #ffffff
  padding: 20px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  width: 20px
  height: 20px
  max-width: 20px
  max-height: 20px
  border:  2px solid $db
  color: $db
  font-family: Opensansbold
  margin: 0 auto
%shared-block
  font-family: OpenSans
  font-size: 14px
  color: $grey
  text-align: center
%shared-block-1
  font-family: "Times New Roman"
  font-size: 14px
  font-style: oblique
  text-align: center
%message-shared_button
  background-color: rgb(242, 250, 255, 0.5)
  box-shadow: inset 0 0 0 2px $blue
  border-color: $blue
@font-face
 font-family: "Bringin"
 src: url(../font/Bringin.otf)
@font-face
 font-family: "OpenSans"
 src: url(../font/OpenSans.ttf)
@font-face
 font-family: "Opensansbold"
 src: url(../font/Opensansbold.ttf)
@font-face
 font-family: "raleway"
 src: url(../font/raleway.ttf)
@font-face
  font-family: "RalewayBold"
  src: url(../font/RalewayBold.ttf)



