@charset "UTF-8";
@media (max-width: 768px) {
  .header_nav_link {
    background: rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 768px) {
  .header_button {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #56c7ff;
  }
}
@media (max-width: 905px) {
  .man {
    display: none;
  }
}
.header {
  background: url("../images/макет.jpg") no-repeat 50%;
  height: 698px;
}
.header_topBackground {
  background: rgba(255, 255, 255, 0.4);
  height: 90px;
}
.header_topPadding {
  padding-top: 15px;
}
.header_logo {
  font-size: 29px;
  font-family: Bringin;
}
.header_logo_moun {
  color: #56c7ff;
}
.header_logo_tain {
  color: #bababa;
}
.header_nav {
  z-index: 2;
  position: relative;
}
.header_button {
  color: #56c7ff;
  font-size: 12px;
  font-weight: bold;
  font-family: raleway;
  border: 3px solid #56c7ff;
  padding: 12px 45px;
  z-index: 2;
  position: relative;
}

.man img {
  position: absolute;
  top: -253px;
  left: 414px;
  z-index: 0;
}

.header_nav_link {
  color: #f5f4f4;
  font-weight: bold;
  font-family: OpenSans;
  padding: 0.6rem;
  font-size: 14px;
}

.header_body {
  position: relative;
  font-size: 50px;
  Margin-top: 160px;
  height: 300px;
  border: 3px solid white;
}
.header_body::after {
  display: block;
  content: "";
  position: absolute;
  top: 3px;
  left: 439px;
  height: 100%;
  width: 528px;
  border-bottom: solid 3px #fff;
  z-index: 2;
}
@media (max-width: 905px) {
  .header_body::after {
    display: none;
  }
}
.header_body_travel {
  color: white;
  font-family: Opensansbold;
  position: absolute;
  letter-spacing: 4px;
  box-sizing: border-box;
}

.Mountains {
  color: #56c7ff;
  font-family: Bringin;
  position: absolute;
  top: 28px;
}

@media screen and (max-width: 360px) {
  .Mountains, .travel {
    font-size: calc(27px + 2 * ((100vw - 320px) / 360));
  }
}
@media screen and (min-width: 361px) and (max-width: 992px) {
  .Mountains, .travel {
    font-size: calc(35px + 2 * ((100vw - 361px) / 768));
  }
}
/* Laptop and Desktops screens */
@media screen and (min-width: 992px) and (max-width: 2048px) {
  .Mountains, .travel {
    font-size: calc(55px + 5 * ((100vw - 769px) / 2048));
  }
}
/* Excessively large screens */
@media screen and (min-width: 2049px) {
  .Mountains, .travel {
    font-size: calc(55px + 15 * ((100vw - 2049px) / 4096));
  }
}
.Lorem_block1 {
  color: #dee0e3;
  margin-top: 113px;
  font-family: OpenSans;
}

@media screen and (max-width: 360px) {
  .Lorem_block1 {
    font-size: calc(14px + 2 * ((100vw - 320px) / 360));
    margin-top: 70px;
  }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
  .Lorem_block1 {
    font-size: calc(16px + 2 * ((100vw - 361px) / 768));
    margin-top: 90px;
  }
}
/* Laptop and Desktops screens */
@media screen and (min-width: 769px) and (max-width: 2048px) {
  .Lorem_block1 {
    font-size: calc(14px + 5 * ((100vw - 769px) / 2048));
    margin-top: 113px;
  }
}
/* Excessively large screens */
@media screen and (min-width: 2049px) {
  .Lorem_block1 {
    font-size: calc(14px + 15 * ((100vw - 2049px) / 4096));
    margin-top: 113px;
  }
}
.button_ordernow {
  margin-left: 20px;
  padding: 19px 65px;
  font-size: 13px;
  font-family: RalewayBold;
  letter-spacing: 3px;
  background: rgba(86, 199, 255, 0.8);
  border: 1px solid #56c7ff;
}

.header_nav_link:hover {
  color: #bababa;
  border-bottom: 2px solid #56c7ff;
}

.aboutus {
  height: 667px;
  background-color: #f5f4f4;
}
.aboutus_body1 {
  height: 667px;
}
.aboutus_body1_writeabout {
  font-family: Opensansbold;
  font-size: 20px;
  margin-top: 261px;
}
@media (max-width: 600px) {
  .aboutus_body1_writeabout {
    position: absolute;
    left: 115px;
    width: 127px;
    font-size: 25px;
  }
}
.aboutus_body1_text {
  font-size: 14px;
  color: #bababa;
  font-family: OpenSans;
  margin-top: 84px;
}
@media (max-width: 600px) {
  .aboutus_body1_text {
    position: absolute;
    top: 232px;
    left: 52px;
    text-align: center;
    width: 256px;
    font-size: 18px;
    color: #a9a8a8;
  }
}
.aboutus_body2 img {
  position: absolute;
  top: -32px;
  right: -198px;
}

@media (max-width: 1078px) {
  .aboutus_body2 img {
    display: none;
  }
}
.aboutus_mini img {
  display: none;
  position: absolute;
}

@media (min-width: 769px) and (max-width: 1078px) {
  .aboutus_mini img {
    display: inline-block;
    right: 8px;
  }
}
@media (max-width: 600px) {
  .legs img {
    display: none;
  }
}
.legsmini {
  position: absolute;
  display: none;
  margin: 6% 20%;
}

@media (max-width: 600px) {
  .legsmini {
    display: inline-block;
  }
}
.block_2 {
  background: url("../images/Vector.png") no-repeat;
}

.legs {
  margin-left: 35px;
  margin-top: 270px;
  z-index: 1;
  position: relative;
}
@media (min-width: 600px) and (max-width: 992px) {
  .legs {
    right: 24px;
    top: -75px;
  }
}

.button_readmore {
  font-size: 12px;
  background-color: #56c7ff;
  border: 3px solid #56c7ff;
  padding: 10px 28px;
  font-family: Opensansbold;
  z-index: 100;
  position: relative;
  top: 11px;
}
@media (max-width: 600px) {
  .button_readmore {
    top: 517px;
    left: 95px;
    width: 143px;
  }
}

.zigzag_block2 {
  margin-top: -106px;
}
@media (max-width: 600px) {
  .zigzag_block2 {
    display: none;
  }
}

.outjornal {
  height: 218px;
  background-color: white;
  padding-top: 70px;
}
.outjornal_text_1 {
  font-size: 30px;
  font-family: Opensansbold;
  text-align: center;
}
.outjornal_zigzag2 img {
  margin-bottom: 30px;
  margin-left: 37%;
}
@media (max-width: 600px) {
  .outjornal_zigzag2 img {
    display: none;
  }
}

.lovetext {
  padding-top: 40px;
  text-align: center;
}
.lovetext_1 {
  color: #56c7ff;
  font-family: Opensansbold;
  font-size: 11px;
}
.lovetext_2 {
  font-family: Opensansbold;
  font-size: 16px;
}
.lovetext_4 {
  margin-top: 15px;
}

.loveimage1 {
  background: url("../images/ImageBackground1.png") no-repeat;
  position: relative;
}

.triangle1 {
  border-top: 10px solid transparent;
  border-right: 10px solid #f2faff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 50px;
  left: 370px;
}

.triangle2 {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2faff;
  position: absolute;
  left: 50px;
  top: 369px;
}

.triangle3 {
  border-style: solid;
  border-width: 12px 0 12px 8px;
  border-color: transparent transparent transparent #f2faff;
  position: absolute;
  top: 50px;
  left: 0;
}

.loveimage2 {
  background: url("../images/Layer49.png") no-repeat;
  position: relative;
}

.nature_image {
  background: url("../images/9127271170_42c133847e_z.png") no-repeat;
}

.treetext, .watertext {
  margin-top: 49px;
  text-align: center;
  color: #108bb8;
  font-family: Opensansbold;
  font-size: 11px;
}
.treetext_1, .treetext_4, .watertext_1, .watertext_4 {
  font-family: Opensansbold;
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}
.treetext_1_line, .watertext_1_line {
  text-decoration: line-through;
}
.block_4 {
  background: url("../images/Layer10.png") no-repeat center;
  width: 100%;
}

.go_zigzag {
  padding-top: 149px;
}
@media (max-width: 600px) {
  .go_zigzag {
    display: none;
  }
}

@media (max-width: 600px) {
  .wanna_go {
    margin-top: 5%;
    flex: 2 0 75%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .spruce {
    display: none;
  }
}
.wanna_go_1 {
  padding-top: 25px;
  font-family: Opensansbold;
  font-size: 20px;
}
@media (max-width: 600px) {
  .wanna_go_1 {
    font-size: 25px;
    text-align: center;
  }
}

.wanna_go_2 {
  color: #bababa;
}
@media (max-width: 600px) {
  .wanna_go_2 {
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: 450px) and (max-width: 700px) {
  .tree, .water {
    top: -260px;
  }
}
@media (min-width: 350px) and (max-width: 450px) {
  .tree, .water {
    top: -415px;
  }
}
@media (max-width: 350px) {
  .tree, .water {
    top: -573px;
  }
}
@media (max-width: 600px) {
  .block_4_flex {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .borderform {
    display: none;
  }
}
.form1, .form2 {
  border: white 1px solid;
  padding: 25px;
}
@media (max-width: 600px) {
  .form1, .form2 {
    padding: 13px;
  }
}

@media (max-width: 600px) {
  .form2 {
    margin-top: 20px;
  }
}
.borderform {
  height: 30px;
  margin: auto;
  border: 1px solid #cacaca;
}

.buttonblock4 {
  padding: 0 45px;
  background-color: #36aeea;
  border: 2px solid white;
  font-size: 16px;
  font-family: Opensansbold;
}
@media (max-width: 600px) {
  .buttonblock4 {
    margin-top: 25px;
    padding: 16px 45px;
  }
}

.Locktext {
  font-family: OpenSans;
  color: #36aeea;
  vertical-align: baseline;
}

.spruce {
  margin-top: 237px;
  position: relative;
}

.spruce_2 {
  position: absolute;
  top: -208px;
  left: 149px;
}
@media (max-width: 992px) {
  .spruce_2 {
    display: none;
  }
}

.block_5_hexagons {
  margin-top: 60px;
}
@media (max-width: 600px) {
  .block_5_hexagons {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 25px;
  }
}

.zigzagx {
  padding-top: 60px;
  margin-left: 50px;
}
@media (max-width: 769px) {
  .zigzagx {
    max-width: 100%;
    margin-left: -47px;
  }
}
@media (max-width: 360px) {
  .zigzagx {
    margin-left: 34px;
  }
}

.zigzagx img {
  padding-left: 80px;
  width: auto;
}
@media (max-width: 768px) {
  .zigzagx img {
    display: none;
  }
}

.howwe {
  font-family: Opensansbold;
  font-size: 30px;
  padding-top: 20px;
}
@media (max-width: 769px) {
  .howwe {
    width: 230px;
    top: 2px;
    left: -88%;
  }
}
.numbers {
  padding-top: 50px;
}

.circle1 {
  margin-left: 102px;
}

.numbers_1, .numbers_2, .numbers_3, .numbers_4 {
  height: 114px;
  position: relative;
}

@media (max-width: 769px) {
  .linegradient1, .linegradient2, .linegradient3 {
    display: none;
  }
}

.hex_round1, .hex_round2, .hex_round3, .hex_round4 {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #f0f3f6;
  border: #f0f3f6;
  margin-left: 34px;
  margin-top: 55px;
}

.hexagon1, .hexagon2, .hexagon3, .hexagon4 {
  position: absolute;
  left: 78px;
  top: 125px;
}

.hexagons1, .hexagons2, .hexagons3, .hexagons4 {
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .hexagons1, .hexagons2, .hexagons3, .hexagons4 {
    max-width: 100%;
  }
}

.hexagon1_icon img, .hexagon2_icon img, .hexagon3_icon img, .hexagon4_icon img {
  position: absolute;
  left: 123px;
  top: 167px;
}

.hexa_lorem {
  font-family: robotobl;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 41px;
}

.hexa_amet {
  font-family: "Roboto Light";
  font-size: 16px;
  color: #bababa;
  margin-left: 21px;
  text-align: center;
}
@media (min-width: 700px) and (max-width: 992px) {
  .hexa_amet {
    width: 70%;
  }
}
@media (min-width: 380px) and (max-width: 600px) {
  .hexa_amet {
    width: 60%;
  }
}

.go_zigzag2 {
  margin: 0 auto;
  margin-top: 78px;
}
@media (max-width: 768px) {
  .go_zigzag2 {
    display: none;
  }
}

.block_6 {
  background: url("../images/worldmap-dots.png") no-repeat 50% 10%;
}

.block_6_back {
  background: url("../images/Group 65.png") no-repeat 100%;
  background-size: contain;
  height: 500px;
}
@media (min-width: 1499px) {
  .block_6_back {
    display: none;
  }
}
@media (max-width: 700px) {
  .block_6_back {
    display: none;
  }
}

.block_6_tr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .block_6_tr {
    flex-direction: column;
  }
}

.block_6_travel {
  font-size: 32px;
  font-family: OpenSansBold;
  text-align: center;
  margin-top: 36px;
}

.block_6_img {
  position: relative;
  z-index: -1;
  left: -400px;
  top: -324px;
}
@media (max-width: 1500px) {
  .block_6_img {
    display: none;
  }
}

.block_6_pics {
  margin-top: 80px;
}
@media (max-width: 600px) {
  .block_6_pics {
    margin-left: 45px;
  }
}

@media (min-width: 1500px) {
  .block_6 {
    height: 1131px;
  }
}
.block_6_image1, .block_6_image2, .block_6_image3, .block_6_image4, .block_6_image5 {
  width: 200px;
  height: 382px;
  position: relative;
  margin-bottom: 20px;
}

.stars4 {
  margin-top: -747px;
  margin-left: 9px;
}

.stars5 {
  margin-top: -753px;
}

.stars5_1 {
  margin-top: -759px;
}

.stars5_2 {
  margin-top: -759px;
}

.stars3 {
  margin-top: -759px;
}

.carpathian, .Alps {
  margin-top: -265px;
  margin-left: 21px;
}

.Pyrenees, .Rocky, .Kavkaz {
  margin-top: -238px;
  margin-left: 21px;
}

.block6_l {
  margin-left: 20px;
}

.number3150 {
  margin-top: 92px;
  margin-left: 19px;
}

.number793 {
  MARGIN-TOP: -49px;
  margin-left: 128px;
}

.block6_l2 {
  margin-top: -185px;
  margin-left: 17px;
}

.number1893 {
  margin-top: 90px;
  margin-left: 114px;
}

.number3150_2 {
  margin-top: 156px;
  margin-left: 19px;
}

.block6_l3, .block6_l4, .block6_l5 {
  margin-left: 17px;
}

.number2593, .number2123, .number593 {
  margin-top: -49px;
  margin-left: 117px;
}

.number3150_3, .number3150_4, .number3150_5 {
  margin-top: 92px;
  margin-left: 18px;
}

@media (max-width: 769px) {
  .block_7 {
    margin-top: 70px;
  }
}
.block_7_1 {
  margin-top: 70px;
}

@media (max-width: 500px) {
  .block_7_1 {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.bl_7_zigzag img {
  margin-left: 46%;
}
@media (max-width: 768px) {
  .bl_7_zigzag img {
    display: none;
  }
}

.block_7_gallery {
  font-size: 32px;
  font-family: OpenSansBold;
  text-align: center;
  margin-top: 30px;
}

.img2, .img6, .img4 {
  margin-top: 30px;
}

.img4 {
  margin-bottom: 30px;
}

.block7_photos, block7_photos2 {
  margin-bottom: 30px;
}

.block_8 {
  background-color: #f5f4f4;
}
@media (min-width: 992px) {
  .block_8 {
    height: 183px;
  }
}

.block_8_1 {
  margin-top: 80px;
}

.slack, .adobe, .google, .nike, .facebook, .spotifi {
  height: 183px;
}

.slack2, .adobe2, .google2, .nike2, .facebook img, .spotifi2 {
  margin-top: 81px;
}

.adobe, .spotifi {
  text-align: -webkit-center;
}

.bl_9_zigzag img {
  margin-left: 46%;
  margin-top: 74px;
}
@media (max-width: 769px) {
  .bl_9_zigzag img {
    display: none;
  }
}

.our_clientssay {
  font-size: 30px;
  font-family: OpenSansBold;
  text-align: center;
  margin-top: 30px;
}

.block_9_1 {
  margin-top: 80px;
}
@media (max-width: 500px) {
  .block_9_1 {
    flex-direction: column;
  }
}

.block_9_lorem {
  line-height: 2;
  color: #a8a2a2;
}
@media (max-width: 769px) {
  .block_9_lorem {
    color: #817171;
  }
}

.Pavliv {
  height: 50px;
}

.Pavliv1, .JohnS1 {
  color: #56c7ff;
  font-family: OpenSansBold;
}

.Pavliv2, .JohnS2 {
  color: #56c7ff;
  font-family: Opensans;
}

.block_9 {
  background: url("../images/bacground.png") 50% 100% no-repeat;
}

.block_9_2 {
  margin-top: 100px;
}

.blur {
  backdrop-filter: blur(30px);
  height: 500px;
  border-radius: 2%;
}

.sendbutton {
  font-size: 12px;
  font-family: OpenSansBold;
  padding: 20px;
  letter-spacing: 3px;
  background: rgba(86, 199, 255, 0.8);
  border: 1px solid #56c7ff;
  width: -webkit-fill-available;
  justify-content: center;
}
@media (max-width: 992px) {
  .sendbutton {
    margin-left: 0;
  }
}

.contacts {
  font-family: OpenSansBold;
  font-size: 30px;
  letter-spacing: 3px;
  color: #36aeea;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}
@media (max-width: 769px) {
  .contacts {
    font-size: 22px;
  }
}

.signup {
  font-family: OpenSans;
  font-size: 12px;
  text-align: center;
  margin-bottom: 3rem;
}
@media (max-width: 769px) {
  .signup {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .block_9_flex {
    font-size: 18px;
  }
}
.block_9_form {
  color: #f5f4f4;
  height: 50px;
  width: -webkit-fill-available;
  margin: 0 auto;
}
.block_9_form::placeholder {
  color: #c0c0c0;
}
.block_9_form::placeholder {
  color: #C0C0C0;
}
.block_9_form::placeholder {
  color: #c0c0c0;
}
.block_9_form::placeholder {
  color: #c0c0c0;
}

.block-9_footer {
  font-family: OpenSans;
  font-size: 18px;
  color: #5c8592;
  margin-top: 195px;
}

.block-9_footer2 {
  margin-top: 190px;
  font-family: robotobl;
  font-size: 27px;
  color: #7ecada;
  font-weight: bold;
  text-align: right;
}

.block-9_vk {
  margin-top: 190px;
}

.block6_l, .block6_l2, .block6_l3, .block6_l4, .block6_l5 {
  font-family: OpenSans;
  font-size: 16px;
  color: white;
}

.carpathian, .Alps, .Pyrenees, .Rocky, .Kavkaz {
  font-family: OpenSans;
  font-size: 26px;
  color: white;
}

.number3150, .number3150_2, .number3150_3, .number3150_4, .number3150_5 {
  font-family: OpenSans;
  font-size: 18px;
  color: white;
  text-decoration: line-through;
}

.number793, .number1893, .number2593, .number2123, .number593 {
  font-family: Opensans extrabold;
  font-size: 26px;
  color: white;
}

.vertical1, .vertical2, .vertical3, .vertical4 {
  height: 70px;
  background-image: linear-gradient(99deg, #f5f4f4, #f5f4f4 90%, transparent 90%, transparent 100%);
  background-size: 30px 3px;
  border: none;
  position: absolute;
  width: 2px;
  z-index: 100;
  top: 46px;
  left: 142px;
}

.linegradient1, .linegradient2, .linegradient3 {
  height: 2px;
  background-image: linear-gradient(99deg, #f5f4f4, #f5f4f4 90%, transparent 90%, transparent 100%);
  background-size: 30px 3px;
  border: none;
  position: absolute;
  width: 310px;
  top: 22px;
  left: 165px;
}

.circle1, .circle2, .circle3, .circle4 {
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border: 2px solid #36aeea;
  color: #36aeea;
  font-family: Opensansbold;
  margin-left: 106px;
}

.lovetext_3, .treetext_2, .treetext_5, .watertext_2, .watertext_5 {
  font-family: OpenSans;
  font-size: 14px;
  color: #bababa;
  text-align: center;
}

.lovetext_4, .treetext_3, .treetext_6, .watertext_3, .watertext_6 {
  font-family: "Times New Roman";
  font-size: 14px;
  font-style: oblique;
  text-align: center;
}

.header_button:hover, .button_ordernow:hover, .button_readmore:hover, .buttonblock4:hover, .sendbutton:hover {
  background-color: rgba(242, 250, 255, 0.5);
  box-shadow: inset 0 0 0 2px #56c7ff;
  border-color: #56c7ff;
}

@font-face {
  font-family: "Bringin";
  src: url(../font/Bringin.otf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans.ttf);
}
@font-face {
  font-family: "Opensansbold";
  src: url(../font/Opensansbold.ttf);
}
@font-face {
  font-family: "raleway";
  src: url(../font/raleway.ttf);
}
@font-face {
  font-family: "RalewayBold";
  src: url(../font/RalewayBold.ttf);
}

/*# sourceMappingURL=style.css.map */
