$grey: #bababa
$blue: #56c7ff
$wg: #f5f4f4
$db: #36aeea



@media (max-width: 768px)
  .header_nav_link
    background: rgba(255,255,255,0.7)

@media (max-width: 768px)
  .header_button
    background: rgba(255,255,255,0.8)
    border: 1px solid $blue


@media (max-width: 905px)
  .man
    display: none

.header
  background: url("../images/макет.jpg") no-repeat 50%
  height: 698px
  &_topBackground
    background: rgba(255,255,255,0.4)
    height: 90px
  &_topPadding
    padding-top: 15px
  &_logo
    font-size: 29px
    font-family: Bringin
    &_moun
     color: $blue
    &_tain
     color: $grey
  &_nav
    z-index: 2
    position: relative
  &_button
   color: $blue
   font-size: 12px
   font-weight: bold
   font-family: raleway
   border: 3px solid $blue
   padding: 12px 45px
   z-index: 2
   position: relative
.man img
  position: absolute
  top: -253px
  left: 414px
  z-index: 0
.header_nav_link
  color: $wg
  font-weight: bold
  font-family: OpenSans
  padding: .6rem
  font-size: 14px
.header_body
  position: relative
  font-size: 50px
  Margin-top: 160px
  height: 300px
  border: 3px solid white
  &::after
    display: block
    content: ''
    position: absolute
    top: 3px
    left: 439px
    height: 100%
    width: 528px
    border-bottom: solid 3px #fff
    z-index: 2
    @media (max-width: 905px)
     display: none

  &_travel
   color: white
   font-family: Opensansbold
   position: absolute
   letter-spacing: 4px
   box-sizing: border-box
.Mountains
 color: $blue
 font-family: Bringin
 position: absolute
 top: 28px



@media screen and (max-width: 360px)
 .Mountains, .travel
  font-size: calc(27px + 2 * ((100vw - 320px) / 360))

@media screen and (min-width: 361px) and (max-width: 992px)
  .Mountains, .travel
   font-size: calc(35px + 2 * ((100vw - 361px) / 768))

/* Laptop and Desktops screens */
@media screen and (min-width: 992px) and (max-width: 2048px)
 .Mountains, .travel
   font-size: calc(55px + 5 * ((100vw - 769px) / 2048))

/* Excessively large screens */
@media screen and (min-width: 2049px)
 .Mountains, .travel
  font-size: calc(55px + 15 * ((100vw - 2049px) / 4096))


.Lorem_block1
  color: #dee0e3
  margin-top: 113px
  font-family: OpenSans


@media screen and (max-width: 360px)
  .Lorem_block1
    font-size: calc(14px + 2 * ((100vw - 320px) / 360))
    margin-top: 70px

@media screen and (min-width: 361px) and (max-width: 768px)
  .Lorem_block1
    font-size: calc(16px + 2 * ((100vw - 361px) / 768))
    margin-top: 90px

/* Laptop and Desktops screens */
@media screen and (min-width: 769px) and (max-width: 2048px)
  .Lorem_block1
    font-size: calc(14px + 5 * ((100vw - 769px) / 2048))
    margin-top: 113px
/* Excessively large screens */
@media screen and (min-width: 2049px)
  .Lorem_block1
    font-size: calc(14px + 15 * ((100vw - 2049px) / 4096))
    margin-top: 113px

.button_ordernow
  margin-left: 20px
  padding: 19px 65px
  font-size: 13px
  font-family: RalewayBold
  letter-spacing: 3px
  background: rgba(86, 199, 255, 0.8)
  border: 1px solid $blue

.header_button:hover, .button_ordernow:hover, .button_readmore:hover, .buttonblock4:hover, .sendbutton:hover
  @extend %message-shared_button
.header_nav_link:hover
  color: $grey
  border-bottom: 2px solid $blue
.aboutus
  height: 667px
  background-color: $wg
  &_body1
    height: 667px
  &_body1_writeabout
    font-family: Opensansbold
    font-size: 20px
    margin-top: 261px
    @media (max-width: 600px)
     position: absolute
     left: 115px
     width: 127px
     font-size: 25px

  &_body1_text
   font-size: 14px
   color: $grey
   font-family: OpenSans
   margin-top: 84px
   @media (max-width: 600px)
     position: absolute
     top: 232px
     left: 52px
     text-align: center
     width: 256px
     font-size: 18px
     color: #a9a8a8
  &_body2 img
   position: absolute
   top: -32px
   right: -198px

@media (max-width: 1078px)
    .aboutus_body2 img
      display: none

.aboutus_mini img
  display: none
  position: absolute

@media (min-width: 769px) and (max-width: 1078px)
  .aboutus_mini img
    display: inline-block
    right: 8px

@media (max-width: 600px)
  .legs img
    display: none

.legsmini
  position: absolute
  display: none
  margin: 6% 20%

@media (max-width: 600px)
  .legsmini
   display: inline-block

.block_2
  background: url("../images/Vector.png") no-repeat
.legs
  margin-left: 35px
  margin-top: 270px
  z-index: 1
  position: relative
  @media (min-width: 600px) and (max-width: 992px)
    right: 24px
    top: -75px

.button_readmore
  font-size: 12px
  background-color: $blue
  border: 3px solid $blue
  padding: 10px 28px
  font-family: Opensansbold
  z-index: 100
  position: relative
  top: 11px
  @media (max-width: 600px)
    top: 517px
    left: 95px
    width: 143px
.zigzag_block2
  margin-top: -106px
  @media (max-width: 600px)
    display: none

.block_3
  height: 1065px
.outjornal
  height: 218px
  background-color: white
  &_text_1
   font-size: 30px
   font-family: Opensansbold
   text-align: center
  &_text2
  padding-top: 70px
.outjornal_zigzag2 img
 margin-bottom: 30px
 margin-left: 37%
 @media (max-width: 600px)
   display: none
.lovetext
  padding-top: 40px
  text-align: center
  &_1
   color: $blue
   font-family: Opensansbold
   font-size: 11px
  &_2
   font-family: Opensansbold
   font-size: 16px
  &_3
   @extend %shared-block
  &_4
   @extend %shared-block-1
   padding-top: 15px
.loveimage1
  background: url("../images/ImageBackground1.png") no-repeat
  background-size: contain
  position: relative
.triangle1
  border-top: 10px solid transparent
  border-right: 10px solid #f2faff
  border-bottom: 10px solid transparent
  position: absolute
  top: 50px
  left: 370px
.triangle2
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-bottom: 10px solid #f2faff
  position: absolute
  left: 50px
  top: 369px
.triangle3
  border-style: solid
  border-width: 12px 0 12px 8px
  border-color: transparent transparent transparent #f2faff
  position: absolute
  top: 50px
  left: 0
.centerlove, .centerlove2, .centernature
  height: 379px
.loveimage2
  background: url("../images/Layer49.png") no-repeat
  background-size: contain
  position: relative
.nature_image
 background: url("../images/9127271170_42c133847e_z.png") no-repeat
 background-size: contain
.treetext, .watertext
  padding-top: 49px
  text-align: center
  color: #108bb8
  font-family: Opensansbold
  font-size: 11px
  &_1, &_4
   font-family: Opensansbold
   font-size: 16px
   margin-top: 40px
   text-align: center
  &_1_line
    text-decoration: line-through
  &_2, &_5
   @extend %shared-block
  &_3, &_6
   @extend %shared-block-1

.block_4
  background: url("../images/Layer10.png") no-repeat center
  width: 100%
.go_zigzag
  padding-top: 149px
  @media (max-width: 600px)
    display: none
@media (max-width: 600px)
  .wanna_go
   margin-top: 5%
@media (max-width: 600px)
 .spruce
   display: none
.wanna_go_1
  padding-top: 25px
  font-family: Opensansbold
  font-size: 15px
  @media (max-width: 600px)
   font-size: 25px
   text-align: center
.wanna_go_2
  color: $grey
  @media (max-width: 600px)
    font-size: 20px
    text-align: center
@media (min-width: 450px) and (max-width: 700px)
  .tree, .water
   top: -260px
@media (min-width: 350px) and (max-width: 450px)
  .tree, .water
    top: -415px

@media (max-width: 350px)
  .tree, .water
     top: -573px

@media (max-width: 600px)
 .block_4_flex
   flex-direction: column

@media (max-width: 600px)
  .borderform
    display: none


.form1, .form2
 border: white 1px solid
 padding: 25px
 @media (max-width: 600px)
   padding: 13px

@media (max-width: 600px)
  .form2
    margin-top: 20px

.borderform
 height: 30px
 margin: auto
 border: 1px solid #cacaca
.buttonblock4
 padding: 0 45px
 background-color: $db
 border: 2px solid white
 font-size: 16px
 font-family: Opensansbold
 @media (max-width: 600px)
   margin-top: 25px
   padding: 16px 45px
.Locktext
 font-family: OpenSans
 color: $db
 vertical-align: baseline
.spruce
 margin-top: 237px
 position: relative
.spruce_2
 position: absolute
 top: -208px
 left: 149px
 @media (max-width: 992px)
   display: none

.block_51
  height: 737px
.zigzagx
  padding-top: 60px
  margin: 0 auto
  margin-left: 50px
.zigzagx img
  padding-left: 80px
  width: auto
.howwe
  font-family: Opensansbold
  font-size: 30px
  padding-top: 20px
.numbers
  padding-top: 50px
.circle1, .circle2, .circle3, .circle4
  @extend %shared-сircle

.numbers_1, .numbers_2, .numbers_3, .numbers_4
  height: 114px
  position: relative
.linegradient1, .linegradient2, .linegradient3
  @extend %shared-linegradient

.vertical1, .vertical2, .vertical3, .vertical4
  @extend %shared-linegradientvertical

.hex_round1, .hex_round2, .hex_round3, .hex_round4
  border-radius: 50%
  width: 180px
  height: 180px
  background:  #f0f3f6
  border: #f0f3f6
  margin-left: 34px

.hexagon1, .hexagon2, .hexagon3, .hexagon4
  position: absolute
  left: 78px
  top: 27px

.hexagon1_icon img, .hexagon2_icon img, .hexagon3_icon img, .hexagon4_icon img
  position: absolute
  left: 123px
  top: 71px

.hexa_lorem
  font-family: robotobl
  font-size: 18px
  font-weight: bold
  margin-bottom: 0
  margin-top: 30px
  margin-left: 41px
.hexa_amet
  font-family: "Roboto Light"
  font-size: 16px
  color: $grey
  margin-left: 21px
  text-align: center
.go_zigzag2
  margin: 0 auto
  margin-top: 78px
.block_6
  background: url("../images/worldmap-dots.png") no-repeat 50% 10%
  height: 1196px
.block_6_tr
  height: 549px
  position: relative
.block_6_travel
  font-size: 32px
  font-family: OpenSansBold
  text-align: center
  margin-top: 36px

.block_6 img
  position: relative
  z-index: -100
  top: 170px
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.block_6_image1 img
  @extend %shared-block_6_images
  left: 110px

.block_6_image2 img
  @extend %shared-block_6_images
  left: 155px

.block_6_image3 img
  @extend %shared-block_6_images
  left: 105px

.block_6_image4 img
  @extend %shared-block_6_images
  left: 149px

.block_6_image5 img
  @extend %shared-block_6_images

.stars4
  top: 138px  !important
  left: 71px  !important
.stars5
  top: 138px !important
  left: 121px  !important
  &_1
   top: 138px !important
   left: 69px !important
  &_2
   top: 138px !important
   left: 117px !important

.stars3
  top: 138px !important
  left: 48px !important

.carpathian
  @extend %shared-block6_text
  left: 31px
.block6_l
  @extend %shared-block6_l
  left: 31px
.number3150
  @extend %shared-block6_numbers
  left: 31px
.number793
  @extend %shared-block6_numbers2
  left: 142px

.Alps
  @extend %shared-block6_text
  left: 74px
.block6_l2
  @extend %shared-block6_l
  left: 74px
.number3150_2
  @extend %shared-block6_numbers
  left: 74px
.number1893
  @extend %shared-block6_numbers2
  left: 176px

.Pyrenees
  @extend %shared-block6_text
  left: 25px
.block6_l3
  @extend %shared-block6_l
  left: 25px
.number3150_3
  @extend %shared-block6_numbers
  left: 25px
.number2593
  @extend %shared-block6_numbers2
  left: 120px
.Rocky
  @extend %shared-block6_text
  left: 74px
.block6_l4
  @extend %shared-block6_l
  left: 74px
.number3150_4
  @extend %shared-block6_numbers
  left: 74px
.number2123
  @extend %shared-block6_numbers2
  left: 176px

.Kavkaz
  @extend %shared-block6_text
.block6_l5
  @extend %shared-block6_l
.number3150_5
  @extend %shared-block6_numbers
  left: 25px
.number593
  @extend %shared-block6_numbers2
  left: 120px
.block_7
  height: 913px
.bl_7_zigzag img
 margin-left: 46%
 margin-top: 74px
.block_7_gallery
  font-size: 32px
  font-family: OpenSansBold
  text-align: center
  margin-top: 30px
.img2,.img4, .img6
  margin-top: 30px
.block_8
  height: 183px
  background-color: $wg

.slack, .adobe, .google, .nike, .facebook, .spotifi
  height: 183px
.slack2, .adobe2, .google2, .nike2, .facebook2, .spotifi2
  margin-top: 81px
.adobe
  margin-left: 35px
.facebook
  margin-left: 35px
.nike
  margin-left: 16px

.bl_9_zigzag img
  margin-left: 46%
  margin-top: 74px
.our_clientssay
  font-size: 30px
  font-family: OpenSansBold
  text-align: center
  margin-top: 30px
.block_9_1
  margin-top: 80px

.block_9_lorem
  line-height: 2
  color: $grey
.Pavliv
  height: 50px
.Pavliv1, .JohnS1
  color: $blue
  font-family: OpenSansBold
.Pavliv2, .JohnS2
  color: $blue
  font-family: Opensans
.block_9
  height: 1357px
  background: url("../images/bacground.png") 50% no-repeat

.bl_9
  height: 1286px
.block_9_2
  margin-top: 100px
.blur
  backdrop-filter: blur(30px)
  height: 500px
  border-radius: 2%
.sendbutton
  font-size: 12px
  font-family: OpenSansBold
  padding: 20px 238px
  letter-spacing: 3px
  background: rgba(86, 199, 255, 0.8)
  border: 1px solid $blue
  margin-left: 9px

.contacts
 font-family: OpenSansBold
 font-size: 30px
 letter-spacing: 3px
 color: $db
 text-align: center
 margin-top: 35px
 margin-bottom: 0rem
.signup
  font-family: OpenSans
  font-size: 12px
  text-align: center
  margin-bottom: 3rem

.block_9_form
 color: $wg
 height: 50px
 width: 519px
 margin: 0 auto
 &::webkit-input-placeholder
   color: #c0c0c0
 &::ms-input-placeholder
   color: #C0C0C0
 &::ms-input-placeholder
   color: #c0c0c0
 &::placeholder
   color: #c0c0c0
.block-9_footer
  font-family: OpenSans
  font-size: 18px
  color: #5c8592
  margin-top: 195px

.block-9_footer2
  margin-top: 190px
  font-family: robotobl
  font-size: 27px
  color: #7ecada
  font-weight: bold
  text-align: right

.block-9_vk
  margin-top: 190px

%shared-block6_numbers2
  position: absolute
  z-index: 2
  font-family: Opensans extrabold
  font-size: 26px
  top: 445px
  color: white

%shared-block6_numbers
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 18px
  top: 448px
  color: white
  text-decoration: line-through

%shared-block6_l
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 16px
  top: 308px
  color: white
%shared-block6_text
  position: absolute
  z-index: 2
  font-family: OpenSans
  font-size: 26px
  color: white
  top: 258px
%shared-block_6_images
  position: absolute
  z-index: 1
  top: 304px

%shared-linegradientvertical
  height: 70px
  background-image: linear-gradient(99deg, $wg, $wg 90%, transparent 90%, transparent 100%)
  background-size: 30px 3px
  border: none
  position: absolute
  width: 2px
  z-index: 100
  top: 46px
  left: 142px
%shared-linegradient
  height: 2px
  background-image: linear-gradient(99deg, $wg, $wg 90%, transparent 90%, transparent 100%)
  background-size: 30px 3px
  border: none
  position: absolute
  width: 242px
  top: 22px
  left: 165px

%shared-сircle
  background: #ffffff
  padding: 20px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  width: 20px
  height: 20px
  max-width: 20px
  max-height: 20px
  border:  2px solid $db
  color: $db
  font-family: Opensansbold
  margin: 0 auto
%shared-block
  font-family: OpenSans
  font-size: 14px
  color: $grey
  text-align: center
%shared-block-1
  font-family: "Times New Roman"
  font-size: 14px
  font-style: oblique
  text-align: center
%message-shared_button
  background-color: rgb(242, 250, 255, 0.5)
  box-shadow: inset 0 0 0 2px $blue
  border-color: $blue
@font-face
 font-family: "Bringin"
 src: url(../font/Bringin.otf)
@font-face
 font-family: "OpenSans"
 src: url(../font/OpenSans.ttf)
@font-face
 font-family: "Opensansbold"
 src: url(../font/Opensansbold.ttf)
@font-face
 font-family: "raleway"
 src: url(../font/raleway.ttf)
@font-face
  font-family: "RalewayBold"
  src: url(../font/RalewayBold.ttf)



